.amigoscarrossel {
  position: absolute;
  right: 40px;
  top: 150px;
  width: 250px;
  height: 600px;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.322);
  border-bottom: 6px solid #000;
  border-right: 6px solid #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: flutuar 3s ease-in-out infinite;
}

h1.titulo-botao3 {
  position: relative;
  top: -580px; /* sobe o texto acima do balão */
  left: 89%;
  transform: translateX(-50%); /* centraliza */
  font-size: 25px;
  color: yellow;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 10%;
  border-radius: 15px;
  animation: flutuar 3s ease-in-out infinite, piscarRGB 2s infinite;
}

@keyframes piscarRGB {
  0% { color: pink; }
  15% { color: red; }
  30% { color: blue; }
  45% { color: green; }
  0% { color: yellow; }
}

.amigoscarrossel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
}

.amigos {
    flex: 0 0 5em;
    align-items: center;
    font-size: 20px;
    align-items: center;
    color: white;
}

@keyframes spin {
    from { transform: translateY(0);}
    to { transform: translateY(-100%);}
    
}

@keyframes flutuar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }

}

