* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Minecraft", sans-serif;
  text-shadow: 5px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/fonts/MinecraftRegular-Bmg3.otf');
}

section div.background-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur(1px);
  pointer-events: none; /* não atrapalha cliques */
  z-index: -1; /* fica acima do vídeo mas abaixo do conteúdo */
}





