.txt-animado {
    position: absolute;
    top: 55%;  /* Ajuste a posição do texto sobre o gato */
    left: 60%;
    transform: translateX(-50%);  /* Centraliza o texto horizontalmente */
    padding: 1px 20px;
    max-width: 80%;
    color: rgb(212, 212, 212);
    font-size: 22px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.349);  /* Fundo sem ficar muito forte */
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

.txt-animado span{
    position: relative;
}

.txt-animado span::before{
    content: "";
    color: rgb(212, 212, 212);
    animation: textmain 30s infinite;
    font-family: 'Minecraft';
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid rgb(212, 212, 212);
    right: -7px;
    opacity: 1;
    animation: cursor .8s infinite;
    background-color: rgba(212, 212, 212, 0.13);
}

@keyframes cursor {
    0%{
        border-left: 2px solid rgb(212, 212, 212, 0.13);
    }
}

@keyframes textmain {
    0%,20%{
        content: "Jogar faz eu me sentir bem :D";
    }
    21%,40%{
        content: "Quer saber um pouco sobre mim?";
    }
    41%,60%{
        content: "Eu sou programador um Front-End o_O";
    }
    61%,80%{
        content: "Eu gosto de editar videos!";
    }
    81%,100%{
        content: "Eu não gosto de festa...";
    }
}



